<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <p class="title is-1">Something went wrong!</p>
            <p class="subtitle is-2"><%= message %></p>
            <button class="btn btn-primary">
                <a href="/">Move to home</a>
            </button>
        </div>
    </body>
</html>
